ion-content {
  --ion-background-color: #f5f5f5;

  .content {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      
  
      ion-card {
        border-radius: 20px;
        padding: 10px;
        max-width: 500px; /* Ancho máximo de la tarjeta */
      
        
        justify-content: center; /* Centrar horizontalmente */
        border: 1px solid rgba(0, 26, 141, 0.199);
        margin-bottom: 50px; /* Espacio entre las tarjetas */
        text-align: center; /* Centrar el texto dentro de la tarjeta */
       
        
        .image-container {
          overflow: hidden;
  
          img {
            width: 100%;
            height: auto;
            max-height: 200px; // Altura máxima de la imagen, ajusta según tu diseño
            display: block;
            margin: 0 auto; // Centrar la imagen horizontalmente
          }
        }
  
        p {
          padding: 5%;
          text-align: justify; // Justificar el texto dentro del párrafo
          margin-top: 8px; // Margen superior del párrafo
          margin-bottom: 24px; // Margen inferior del párrafo
        }
      }
    }
  }
  
  


    img {
      max-width: 100%;
      height: auto;
      max-height: 200px;
      display: block;
      margin: 8px auto 0; // Cambiamos el margen superior a 8px y el inferior a 0
  
      @media (max-width: 767px) {
        max-height: 150px;
      }
    }
  
    p {
      text-align: center;
      margin: 8px 0 24px; // Cambiamos el margen superior a 8px y el inferior a 24px
    }
    ion-card {
      border-radius: 20px;
      border: 1px solid rgba(0, 26, 141, 0.199);
     
    }

    h2{
      text-align: center;
    }
}